form(method="post" action="/submit")
    table
        tr
            td Username 
            td 
                input(type="text" name="username")
        tr
            td Telephone 
            td 
                input(type="text" name="telephone")
        tr 
            td Type 
            td 
                input(type="text" name="type")
        tr 
            td Region 
            td 
                input(type="text" name="region")
        tr 
        
            td Description 
            td 
                input(type="text" name="description" style="padding-bottom: 175px;")
        tr 
            td
            td
                input(type="submit" value="Ajouter")